html,body {
    margin:0;
    padding:0;
}

.center {
    text-align: center;
}


#header {

    font-size:70px;
    background-color: red;
    padding:0;
    margin:4px;
    border: 3px 10px solid red;
}

#description {
    font-size: x-large;
}
.images {
    width:900px;
    display:block;
    margin:auto;
    border: 9px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
