html,body {
    margin:0;
    padding:0;
}

.center {
    text-align: center;
}


#header {
    background-color:red;
    padding: 2%;
    font-size:xx-large;

    margin: 1% 20%;
    border: 20px red;
    border-radius: 70px ;
}

#description {
    font-size: large;
}

.images {
    width: 70%;
    align-items: center;
    margin-right:15%;
    margin-left: 15%;
}

.button {
    align-items: center;
    margin-right:50%;
    margin-left: 50%;
}
